/act.py
/Actividad 1.py
/Actividad 2.py
/bucle for.py
/bucles.py
/condicionales.py
/eje.py
/ejemplo no se cual.py
/ejemplo_codigo1.py
/ejemplo_IMC.py
/ejercicios de error.py
/Ejercicios.py
/Ejercicios_p2.py
/ejercicios_p3.py
/input.py
/python.py
/variables.py